body {
    background-color: rgba(5, 9, 36, 255);
  }
  
  .cloud {
    background-color: white;
    border-radius: 100px;
    height: 100px;
    width: 300px;
    margin-top: 85px;
    margin-left: 500px;
  }
  
  .cloud::before,
  .cloud::after {
    background-color: inherit;
    content: "";
    position: absolute;
  }
  
  .cloud::before {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    top: 50px;
    left: 550px;
  }
  
  .cloud::after {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    top: 6px;
    left: 600px;
  }
  p {
    max-width: 720px;
  }
  